<footer class="container-fluid">
  <section class="logos d-flex justify-content-evenly">
    <img class="logo" src="./assets/logo1.png" alt="" />
    <img class="logo" src="./assets/logo2.png" alt="" />
    <img class="logo" src="./assets/logo3.png" alt="" />
    <img class="logo" src="./assets/logo4.png" alt="" />
    <img class="logo" src="./assets/logo5.png" alt="" />
  </section>
</footer>