<header>
  <nav class="navbar sticky-top">
    <h1 class="fw-bold">
      <a class="text-decoration-none link-light" href="/">Elon Musk</a>
    </h1>
    <ul class="">
      <li class="">
        <a
          class="text-decoration-none"
          href="https://twitter.com/elonmusk/"
          target="_blank"
        ><span class="flaticon flaticon-013-twitter-1"></span></a>
      </li>
    </ul>
  </nav>
</header>