<!DOCTYPE html>
<html lang="es">
  <head>
    {{>head }}
    <title> {{title}} </title>
  </head>
  <body>
    <div class="container-fluid home">
      <div class="container">
        {{>header}}
      </div>

      <div class="home-button d-flex justify-content-center align-items-end">
        <a class="text-decoration-none" href="/blog">
          <button type="button" class="btn btn-light btn-lg">
            ELON'S BLOG
          </button>
        </a>
      </div>
    </div>
  </body>
</html>